documents/BMEcat/version/1.2/bmecat_base_1_2.dtd

<!--

  Name:                 bmecat_base_1_2.dtd
  Version:              1.2 Rev. A
  Datum:                2003-05-09
  Authors:              Volker Schmitz (stz), Universitaet Essen BLI
  						Claus Huempel (chp), Fraunhofer IAO Stuttgart 
                        Thorsten Pastoors (top), Fraunhofer IAO Stuttgart
                        Sascha Schroeder (sas), e-pro solutions GmbH Stuttgart 
                        Dr. Juergen Waesch (jw), e-pro solutions GmbH Stuttgart 

  Copyright 1998-2003, All Rights Reserved
  Fraunhofer IAO Stuttgart, Universitaet Essen BLI, e-pro solutions GmbH Stuttgart
  
  // Namespace = http://www.bmecat.org/bmecat/1.2/bmecat_base   
        
  Changes from 1.2 final draft to 1.2:
  stz 2001-03-09:	new element PUBLIC_KEY in ADDRESS
  stz 2001-03-09:	new element ARTICLE_TO_CATALOGGROUP_MAP_ORDER in ARTICLE_TO_CATALOGGROUP_MAP
  stz 2001-03-09:	changed element HEADER - the element BUYER is not required any more

  Changes from 1.2 to 1.2 rev. A:
  stz 2003-05-09:	changes in AGREEMENT and ARTICLE_PRICE_DETAILS to meet the requirements of a deterministic model
  stz 2003-05-09:	changes in ADDRESS: element PUBLIC_KEY from ? to * according to the specification


-->
<!ENTITY % STRING "(#PCDATA)">
<!ENTITY % NUMBER "(#PCDATA)">
<!ENTITY % INTEGER "(#PCDATA)">
<!ENTITY % FLOAT "(#PCDATA)">
<!ENTITY % BOOLEAN "(#PCDATA)">
<!ENTITY % DATETYPE "(#PCDATA)">
<!ENTITY % TIMETYPE "(#PCDATA)">
<!ENTITY % TIMEZONETYPE "(#PCDATA)">
<!ENTITY % LANG "%STRING;">
<!ENTITY % COUNTRIES "%STRING;">
<!ENTITY % CURRENCIES "%STRING;">
<!ENTITY % UNIT "%STRING;">
<!ENTITY % PUNIT "%STRING;">
<!ENTITY % DATETIME.GENERATIONDATE "DATETIME">
<!ENTITY % DATETIME.AGREEMENTSTARTDATE "DATETIME">
<!ENTITY % DATETIME.AGREEMENTENDDATE "DATETIME">
<!ENTITY % DATETIME.VALIDSTARTDATE "DATETIME">
<!ENTITY % DATETIME.VALIDENDDATE "DATETIME">
<!ENTITY % ADDRESS.BUYER "ADDRESS">
<!ENTITY % ADDRESS.SUPPLIER "ADDRESS">
<!ENTITY % DATETIME_QUALIFIERS "(generation_date|agreement_start_date|agreement_end_date|valid_start_date|valid_end_date)">
<!ENTITY % ADDRESS_QUALIFIERS "(buyer|supplier)">
<!ENTITY % SUPPLIER_ID_QUALIFIERS "(duns|iln|buyer_specific|supplier_specific)">
<!ENTITY % BUYER_ID_QUALIFIERS "(duns|iln|buyer_specific|supplier_specific)">
<!ENTITY % PRICE_FLAG_QUALIFIERS "(incl_freight|incl_packing|incl_assurance|incl_duty)">
<!ENTITY % ARTICLE_MODE_QUALIFIERS "(new|update|delete)">
<!ENTITY % ARTICLE_STATUS_QUALIFIERS "(bargain|new_article|old_article|new|used|refurbished|core_article|others)">
<!ENTITY % REFERENCE_QUALIFIERS "(sparepart|similar|followup|mandatory|select|others|accessories|diff_orderunit|consists_of)">
<!ENTITY % CATALOG_STRUCTURE_QUALIFIERS "(root|node|leaf)">
<!ENTITY % FEATURE_TEMPLATE_QUALIFIERS "(free_entry|defaults)">
<!ELEMENT DATETIME (DATE, TIME?, TIMEZONE?)>
<!ATTLIST DATETIME
	type %DATETIME_QUALIFIERS; #REQUIRED
>
<!ELEMENT DATE %DATETYPE;>
<!ELEMENT TIME %TIMETYPE;>
<!ELEMENT TIMEZONE %TIMEZONETYPE;>
<!ELEMENT ADDRESS (NAME?, NAME2?, NAME3?, CONTACT?, STREET?, ZIP?, BOXNO?, ZIPBOX?, CITY?, STATE?, COUNTRY?, PHONE?, FAX?, EMAIL?, PUBLIC_KEY*, URL?, ADDRESS_REMARKS?)>
<!ATTLIST ADDRESS
	type %ADDRESS_QUALIFIERS; #REQUIRED
>
<!ENTITY % USERDEFINES "%STRING;">
<!ELEMENT GENERATOR_INFO %STRING;>
<!ELEMENT LANGUAGE %LANG;>
<!ELEMENT CATALOG_ID %STRING;>
<!ELEMENT CATALOG_VERSION %STRING;>
<!ELEMENT CATALOG_NAME %STRING;>
<!ELEMENT TERRITORY %COUNTRIES;>
<!ELEMENT CURRENCY %CURRENCIES;>
<!ELEMENT MIME_ROOT %STRING;>
<!ELEMENT BUYER_NAME %STRING;>
<!ELEMENT BUYER_ID %STRING;>
<!ATTLIST BUYER_ID
	type %BUYER_ID_QUALIFIERS; #IMPLIED
>
<!ELEMENT SUPPLIER_NAME %STRING;>
<!ELEMENT AGREEMENT_ID %STRING;>
<!ELEMENT SUPPLIER_AID %STRING;>
<!ELEMENT DESCRIPTION_SHORT %STRING;>
<!ELEMENT DESCRIPTION_LONG %STRING;>
<!ELEMENT MANUFACTURER_TYPE_DESCR %STRING;>
<!ELEMENT EAN %STRING;>
<!ELEMENT SUPPLIER_ALT_AID %STRING;>
<!ELEMENT MANUFACTURER_AID %STRING;>
<!ELEMENT MANUFACTURER_NAME %STRING;>
<!ELEMENT ERP_GROUP_BUYER %STRING;>
<!ELEMENT ERP_GROUP_SUPPLIER %STRING;>
<!ELEMENT DELIVERY_TIME %NUMBER;>
<!ELEMENT KEYWORD %STRING;>
<!ELEMENT REMARKS %STRING;>
<!ELEMENT ARTICLE_ORDER %INTEGER;>
<!ELEMENT SEGMENT %STRING;>
<!ELEMENT USER_DEFINED_EXTENSIONS %USERDEFINES;>
<!ELEMENT REFERENCE_FEATURE_SYSTEM_NAME %STRING;>
<!ELEMENT REFERENCE_FEATURE_GROUP_ID %STRING;>
<!ELEMENT FNAME %STRING;>
<!ELEMENT FVALUE %STRING;>
<!ELEMENT FUNIT %STRING;>
<!ELEMENT FORDER %INTEGER;>
<!ELEMENT ORDER_UNIT %PUNIT;>
<!ELEMENT CONTENT_UNIT %PUNIT;>
<!ELEMENT NO_CU_PER_OU %NUMBER;>
<!ELEMENT PRICE_QUANTITY %NUMBER;>
<!ELEMENT QUANTITY_MIN %INTEGER;>
<!ELEMENT QUANTITY_INTERVAL %INTEGER;>
<!ELEMENT DAILY_PRICE %BOOLEAN;>
<!ELEMENT PRICE_AMOUNT %NUMBER;>
<!ELEMENT PRICE_CURRENCY %CURRENCIES;>
<!ELEMENT TAX %NUMBER;>
<!ELEMENT PRICE_FACTOR %NUMBER;>
<!ELEMENT LOWER_BOUND %NUMBER;>
<!ELEMENT MIME_TYPE %STRING;>
<!ELEMENT MIME_SOURCE %STRING;>
<!ELEMENT MIME_DESCR %STRING;>
<!ELEMENT MIME_ALT %STRING;>
<!ELEMENT MIME_PURPOSE %STRING;>
<!ELEMENT MIME_ORDER %INTEGER;>
<!ELEMENT ART_ID_TO %STRING;>
<!ELEMENT GROUP_SYSTEM_ID %STRING;>
<!ELEMENT GROUP_SYSTEM_NAME %STRING;>
<!ELEMENT GROUP_SYSTEM_DESCRIPTION %STRING;>
<!ELEMENT GROUP_ID %STRING;>
<!ELEMENT GROUP_NAME %STRING;>
<!ELEMENT GROUP_DESCRIPTION %STRING;>
<!ELEMENT PARENT_ID %STRING;>
<!ELEMENT GROUP_ORDER %INTEGER;>
<!ELEMENT ART_ID %STRING;>
<!ELEMENT CATALOG_GROUP_ID %STRING;>
<!-- new in version 1.2 -->
<!ELEMENT ARTICLE_TO_CATALOGGROUP_MAP_ORDER %INTEGER;>
<!ELEMENT FEATURE_SYSTEM_NAME %STRING;>
<!ELEMENT FEATURE_SYSTEM_DESCR %STRING;>
<!ELEMENT FEATURE_GROUP_ID %STRING;>
<!ELEMENT FEATURE_GROUP_NAME %STRING;>
<!ELEMENT FEATURE_GROUP_DESCR %STRING;>
<!ELEMENT FT_NAME %STRING;>
<!ELEMENT FT_UNIT %STRING;>
<!ELEMENT FT_ORDER %INTEGER;>
<!ELEMENT NAME %STRING;>
<!ELEMENT NAME2 %STRING;>
<!ELEMENT NAME3 %STRING;>
<!ELEMENT CONTACT %STRING;>
<!ELEMENT ZIP %STRING;>
<!ELEMENT BOXNO %STRING;>
<!ELEMENT ZIPBOX %STRING;>
<!ELEMENT STREET %STRING;>
<!ELEMENT CITY %STRING;>
<!ELEMENT STATE %STRING;>
<!ELEMENT COUNTRY %STRING;>
<!ELEMENT PHONE %STRING;>
<!ELEMENT FAX %STRING;>
<!ELEMENT EMAIL %STRING;>
<!-- new in version 1.2 -->
<!ELEMENT PUBLIC_KEY %STRING;>
<!ATTLIST PUBLIC_KEY
	type CDATA #REQUIRED
>
<!ELEMENT URL %STRING;>
<!ELEMENT ADDRESS_REMARKS %STRING;>
<!ELEMENT PRICE_FLAG %BOOLEAN;>
<!ATTLIST PRICE_FLAG
	type %PRICE_FLAG_QUALIFIERS; #REQUIRED
>
<!ELEMENT SUPPLIER_ID %STRING;>
<!ATTLIST SUPPLIER_ID
	type %SUPPLIER_ID_QUALIFIERS; #REQUIRED
>
<!ELEMENT BUYER_AID %STRING;>
<!ATTLIST BUYER_AID
	type CDATA #REQUIRED
>
<!ELEMENT SPECIAL_TREATMENT_CLASS %STRING;>
<!ATTLIST SPECIAL_TREATMENT_CLASS
	type CDATA #REQUIRED
>
<!ELEMENT ARTICLE_STATUS %STRING;>
<!ATTLIST ARTICLE_STATUS
	type %ARTICLE_STATUS_QUALIFIERS; #REQUIRED
>
<!ELEMENT SUPPLIER_AID_SUPPLEMENT %STRING;>
<!ELEMENT FDESCR %STRING;>
<!ELEMENT FVALUE_DETAILS %STRING;>
<!ELEMENT REFERENCE_FEATURE_GROUP_NAME %STRING;>
<!-- changed in version 1.2 -->
<!ELEMENT HEADER (GENERATOR_INFO?, CATALOG, BUYER?, AGREEMENT*, SUPPLIER, USER_DEFINED_EXTENSIONS?)>
<!ELEMENT CATALOG (LANGUAGE, CATALOG_ID, CATALOG_VERSION, CATALOG_NAME?, (%DATETIME.GENERATIONDATE;)?, TERRITORY*, CURRENCY?, MIME_ROOT?, PRICE_FLAG*)>
<!ELEMENT BUYER (BUYER_ID?, BUYER_NAME, (%ADDRESS.BUYER;)?)>
<!-- stz: we changed the DTD to a deterministic model. the check is now not as strict as it should be, but this should be no problem. -->
<!ELEMENT AGREEMENT (AGREEMENT_ID, DATETIME*)>
<!ELEMENT SUPPLIER (SUPPLIER_ID*, SUPPLIER_NAME, (%ADDRESS.SUPPLIER;)?, MIME_INFO?)>
<!ELEMENT FEATURE_SYSTEM (FEATURE_SYSTEM_NAME, FEATURE_SYSTEM_DESCR?, FEATURE_GROUP+)>
<!ELEMENT FEATURE_GROUP (FEATURE_GROUP_ID, FEATURE_GROUP_NAME, FEATURE_TEMPLATE*, FEATURE_GROUP_DESCR?)>
<!ELEMENT FEATURE_TEMPLATE (FT_NAME, FT_UNIT?, FT_ORDER?)>
<!ATTLIST FEATURE_TEMPLATE
	type %FEATURE_TEMPLATE_QUALIFIERS; "free_entry"
>
<!ELEMENT CATALOG_GROUP_SYSTEM (GROUP_SYSTEM_ID?, GROUP_SYSTEM_NAME?, CATALOG_STRUCTURE+, GROUP_SYSTEM_DESCRIPTION?)>
<!ELEMENT CATALOG_STRUCTURE (GROUP_ID, GROUP_NAME, GROUP_DESCRIPTION?, PARENT_ID, GROUP_ORDER?, MIME_INFO?, USER_DEFINED_EXTENSIONS?, KEYWORD*)>
<!ATTLIST CATALOG_STRUCTURE
	type %CATALOG_STRUCTURE_QUALIFIERS; #REQUIRED
>
<!ELEMENT ARTICLE_DETAILS (DESCRIPTION_SHORT, DESCRIPTION_LONG?, EAN?, SUPPLIER_ALT_AID?, BUYER_AID*, MANUFACTURER_AID?, MANUFACTURER_NAME?, MANUFACTURER_TYPE_DESCR?, ERP_GROUP_BUYER?, ERP_GROUP_SUPPLIER?, DELIVERY_TIME?, SPECIAL_TREATMENT_CLASS*, KEYWORD*, REMARKS?, SEGMENT?, ARTICLE_ORDER?, ARTICLE_STATUS*)>
<!ELEMENT ARTICLE_FEATURES (REFERENCE_FEATURE_SYSTEM_NAME?, (REFERENCE_FEATURE_GROUP_ID | REFERENCE_FEATURE_GROUP_NAME)?, FEATURE*)>
<!ELEMENT FEATURE (FNAME, (VARIANTS | FVALUE+), FUNIT?, FORDER?, FDESCR?, FVALUE_DETAILS?)>
<!ELEMENT VARIANTS (VARIANT+, VORDER)>
<!ELEMENT VARIANT (FVALUE, SUPPLIER_AID_SUPPLEMENT)>
<!ELEMENT VORDER %INTEGER;>
<!ELEMENT ARTICLE_ORDER_DETAILS (ORDER_UNIT, CONTENT_UNIT?, NO_CU_PER_OU?, PRICE_QUANTITY?, QUANTITY_MIN?, QUANTITY_INTERVAL?)>
<!-- stz: we changed the DTD to a deterministic model. the check is now not as strict as it should be, but this should be no problem. -->
<!ELEMENT ARTICLE_PRICE_DETAILS (DATETIME*, DAILY_PRICE?, ARTICLE_PRICE+)>
<!ELEMENT ARTICLE_PRICE (PRICE_AMOUNT, PRICE_CURRENCY?, TAX?, PRICE_FACTOR?, LOWER_BOUND?, TERRITORY*)>
<!ATTLIST ARTICLE_PRICE
	price_type CDATA #REQUIRED
>
<!ELEMENT MIME_INFO (MIME+)>
<!ELEMENT MIME (MIME_TYPE?, MIME_SOURCE, MIME_DESCR?, MIME_ALT?, MIME_PURPOSE?, MIME_ORDER?)>
<!ELEMENT ARTICLE_REFERENCE (ART_ID_TO, CATALOG_ID?, CATALOG_VERSION?)>
<!ATTLIST ARTICLE_REFERENCE
	type %REFERENCE_QUALIFIERS; #REQUIRED
	quantity CDATA #IMPLIED
>
<!ELEMENT ARTICLE_TO_CATALOGGROUP_MAP (ART_ID, CATALOG_GROUP_ID, ARTICLE_TO_CATALOGGROUP_MAP_ORDER?)>
<!ENTITY % CLASSIFICATION_SYSTEM_QUALIFIERS "(node|leaf)">
<!ELEMENT CLASSIFICATION_SYSTEM (CLASSIFICATION_SYSTEM_NAME, CLASSIFICATION_SYSTEM_FULLNAME?, CLASSIFICATION_SYSTEM_VERSION?, CLASSIFICATION_SYSTEM_DESCR?, CLASSIFICATION_SYSTEM_LEVELS?, CLASSIFICATION_SYSTEM_LEVEL_NAMES?, ALLOWED_VALUES?, UNITS?, CLASSIFICATION_SYSTEM_FEATURE_TEMPLATES?, CLASSIFICATION_GROUPS)>
<!ELEMENT CLASSIFICATION_SYSTEM_NAME %STRING;>
<!ELEMENT CLASSIFICATION_SYSTEM_FULLNAME %STRING;>
<!ELEMENT CLASSIFICATION_SYSTEM_VERSION %STRING;>
<!ELEMENT CLASSIFICATION_SYSTEM_DESCR %STRING;>
<!ELEMENT CLASSIFICATION_SYSTEM_LEVELS %INTEGER;>
<!ELEMENT CLASSIFICATION_SYSTEM_LEVEL_NAMES (CLASSIFICATION_SYSTEM_LEVEL_NAME+)>
<!ELEMENT CLASSIFICATION_SYSTEM_LEVEL_NAME %STRING;>
<!ATTLIST CLASSIFICATION_SYSTEM_LEVEL_NAME
	level CDATA #REQUIRED
>
<!ELEMENT CLASSIFICATION_GROUPS (CLASSIFICATION_GROUP+)>
<!ELEMENT CLASSIFICATION_GROUP (CLASSIFICATION_GROUP_ID, CLASSIFICATION_GROUP_NAME, CLASSIFICATION_GROUP_DESCR?, CLASSIFICATION_GROUP_SYNONYMS?, CLASSIFICATION_GROUP_FEATURE_TEMPLATES?, CLASSIFICATION_GROUP_PARENT_ID?)>
<!ATTLIST CLASSIFICATION_GROUP
	type %CLASSIFICATION_SYSTEM_QUALIFIERS; #REQUIRED
	level CDATA #IMPLIED
>
<!ELEMENT CLASSIFICATION_GROUP_ID %STRING;>
<!ELEMENT CLASSIFICATION_GROUP_NAME %STRING;>
<!ELEMENT CLASSIFICATION_GROUP_DESCR %STRING;>
<!ELEMENT CLASSIFICATION_GROUP_SYNONYMS (SYNONYM+)>
<!ELEMENT SYNONYM %STRING;>
<!ELEMENT CLASSIFICATION_GROUP_PARENT_ID %STRING;>
<!ELEMENT CLASSIFICATION_GROUP_FEATURE_TEMPLATES (CLASSIFICATION_GROUP_FEATURE_TEMPLATE+)>
<!ELEMENT CLASSIFICATION_GROUP_FEATURE_TEMPLATE (FT_IDREF, FT_MANDATORY, FT_DATATYPE, FT_UNIT?, FT_ORDER?, FT_ALLOWED_VALUES?)>
<!ELEMENT FT_IDREF %STRING;>
<!ELEMENT FT_MANDATORY %BOOLEAN;>
<!ELEMENT FT_DATATYPE %STRING;>
<!ELEMENT FT_ALLOWED_VALUES (ALLOWED_VALUE_IDREF+)>
<!ELEMENT ALLOWED_VALUE_IDREF %STRING;>
<!ATTLIST ALLOWED_VALUE_IDREF
	order CDATA #IMPLIED
>
<!ELEMENT CLASSIFICATION_SYSTEM_FEATURE_TEMPLATES (CLASSIFICATION_SYSTEM_FEATURE_TEMPLATE+)>
<!ELEMENT CLASSIFICATION_SYSTEM_FEATURE_TEMPLATE (FT_ID, FT_NAME, FT_DESCR?)>
<!ELEMENT FT_ID %STRING;>
<!ELEMENT FT_DESCR %STRING;>
<!ELEMENT ALLOWED_VALUES (ALLOWED_VALUE+)>
<!ELEMENT ALLOWED_VALUE (ALLOWED_VALUE_ID, ALLOWED_VALUE_NAME, ALLOWED_VALUE_DESCR?)>
<!ELEMENT ALLOWED_VALUE_ID %STRING;>
<!ELEMENT ALLOWED_VALUE_NAME %STRING;>
<!ELEMENT ALLOWED_VALUE_DESCR %STRING;>
<!ELEMENT UNITS (UNIT+)>
<!ELEMENT UNIT (UNIT_ID, UNIT_NAME?, UNIT_DESCR?)>
<!ATTLIST UNIT
	system CDATA #IMPLIED
>
<!ELEMENT UNIT_ID %STRING;>
<!ELEMENT UNIT_NAME %STRING;>
<!ELEMENT UNIT_DESCR %STRING;>
